.body {
    margin: 0;
    display: table;
    min-height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.open {
    display: flex !important;
}


header {
    background-color: rgba(213, 226, 225, 0.872);
    position: static;
    align-content: center;
    z-index: 50;
    height: 80px;

}



.header_logo {
    position: relative;

}


.container-fluid {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;




}

.burger_menu {
    display: flex;
    justify-content: space-between;
}

.navi_link {

    display: flex;
    margin: 10px 20px 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: 500;

}



.burger {
    display: none;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 30px;
    height: 18px;
    margin: 14px 0px 0px 0px;

}

.burger span {
    background-color: black;
    width: 100%;
    height: 3px;
    transform: scale(1);

}

.burger::before,
.burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;

}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}


.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);

}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);

}

@media (max-width:850px) {
    .burger {
        display: flex;
    }

    .burger_menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 60px 20px;
        background-color: rgb(213, 226, 225);
        animation: burgerAnimation 0.8s;


    }

    @keyframes burgerAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

}

@media (max-width:1320px) {
    #map {
        width: 50%;
        height: 350px;
    }
}

@media (max-width:570px) {
    #map {
        width: 100%;
        height: 350px;
    }
}

.footer {
    position: relative;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
}

.my-carousel {
    padding: 0;
}

.carousel-inner {
    background-color: rgb(213, 226, 225);
    width: 300px;

}




.my-carousel .carousel-item {

    max-height: 500px;
    max-width: 300px;



}

.my-carousel .carousel-item img {
    object-fit: cover;
}

.navi_link_menu {

    text-decoration: none;
    color: black;
    font-weight: 500;
}